@inherits LayoutComponentBase
@inject IHttpClientFactory httpClientFactory 
@inject NavigationManager navigation

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <AuthorizeView>
                <Authorized>
                    <strong>Hello, @context.User.Identity.Name!</strong>
                    <button class="btn btn-link" @onclick="Signout">Sign - out</button>
                </Authorized>
                <NotAuthorized>
                    <a href="api/Account/Login">Log in</a>
                </NotAuthorized>
            </AuthorizeView>

        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    private async Task Signout()
    {
        var client = httpClientFactory.CreateClient("authorizedClient");
        await client.PostAsync("api/Account/Logout", null);

        navigation.NavigateTo("/", true);
    }
}
